<p id="notice"><%= notice %></p>

<% @users.each do |user| %>
  <p><%= user.email %> has <%= user.posts.count %> posts</p>
<% end %>

<%= link_to 'ana sayfa', root_url(subdomain: ''), class: 'btn btn-success text-light' %>