<p id="notice"><%= notice %></p>
<h1 class="text-center">All Users</h1>
<div class="text-center card w-50 mx-auto shadow-lg py-4">
  <% @users.each do |user| %>
  <p><%= user.email %> has <%= link_to "#{user.posts.count} posts", show_url(user) %></p>
<% end %>
</div>

<div class="text-center mt-4">
  <%= link_to 'ana sayfa', root_url(subdomain: ''), class: 'btn btn-success text-light' %>
</div>
