<td><%= link_to 'Edit', edit_post_path(@variable), class: 'btn btn-primary text-light test' %></td>
<td><%= link_to 'Destroy', @variable, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger text-light test-2' %></td>